# General
node_modules/
.DS_Store
.idea

# Backend (Spring Boot)
/api/target/
/api/.idea/
/api/.vscode/
/api/.classpath
/api/.project
/api/.settings
/api/*.iml

# Backend (Angular)
/ui/node_modules/
/ui/dist/
/ui/.angular/
/ui/.idea/
/ui/.vscode/
/ui/package-lock.json