<div class="main-content page-m">
    <div class="section-content section-content-p30">
        <div class="container-fluid">

            <form [formGroup]="checkoutFormGroup" (ngSubmit)="onSubmit()">

                <!-- customer form group -->
                <div formGroupName="customer" class="form-area">
                    <h3>Customer</h3>

                    <div class="row">
                        <div class="col-md-3"><label>First Name</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="firstName" type="text">

                                <div *ngIf="firstName?.invalid && (firstName?.dirty || firstName?.touched)" class="alert alert-danger mt-1">
                                    <div *ngIf="firstName?.hasError('required')">
                                        First Name is required
                                    </div>
                                    <div *ngIf="firstName?.hasError('minlength')">
                                        First Name must be at least 3 characters long
                                    </div>
                                    <div *ngIf="firstName?.hasError('onlyWhitespaces')">
                                        First Name cannot contain only white spaces
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3"><label>Last Name</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="lastName" type="text">

                                <div *ngIf="lastName?.invalid && (lastName?.dirty || lastName?.touched)" class="alert alert-danger mt-1">
                                    <div *ngIf="lastName?.hasError('required')">
                                        Last Name is required
                                    </div>
                                    <div *ngIf="lastName?.hasError('minlength')">
                                        Last Name must be at least 3 characters long
                                    </div>
                                    <div *ngIf="lastName?.hasError('onlyWhitespaces')">
                                        Last Name cannot contain only white spaces
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3"><label>Email</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="email" type="text">

                                <div *ngIf="email?.invalid && (email?.dirty || email?.touched)" class="alert alert-danger mt-1">
                                    <div *ngIf="email?.hasError('required')">
                                        Email is required
                                    </div>
                                    <div *ngIf="firstName?.hasError('pattern')">
                                        Email must be have valid email address format
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ends cutomer form group-->

                <!-- shipping address form group -->
                <div formGroupName="shippingAddress" class="form-area">
                    <h3>Shipping Address</h3>

                    <div class="row">
                        <div class="col-md-3"><label>Country</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="country" (change)="getStates('shippingAddress')">
                                    <option *ngFor="let country of countriesList" [ngValue]="country">
                                        {{ country.name }}
                                    </option>
                                </select>

                                <div *ngIf="shippingCountry?.invalid && (shippingCountry?.dirty || shippingCountry?.touched)" class="alert alert-danger mt-1">
                                    <div *ngIf="shippingCountry?.hasError('required')">
                                        Shipping Country is required
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3"><label>State</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="state" >
                                    <option *ngFor="let state of shippingAddressStates" [ngValue]="state">
                                        {{ state.name }}
                                    </option>
                                </select>

                                <div *ngIf="shippingState?.invalid && (shippingState?.dirty || shippingState?.touched)" class="alert alert-danger mt-1">
                                    <div *ngIf="shippingState?.hasError('required')">
                                        Shipping State is required
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3"><label>City</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="city" type="text">

                                <div *ngIf="shippingCity?.invalid && (shippingCity?.dirty || shippingCity?.touched)" class="alert alert-danger mt-1">
                                    <div *ngIf="shippingCity?.hasError('required')">
                                        Shipping City is required
                                    </div>
                                    <div *ngIf="shippingCity?.hasError('minlength') || shippingCity?.hasError('onlyWhitespaces')">
                                        Shipping City must be at least 3 characters long
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3"><label>Street</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="street" type="text">

                                <div *ngIf="shippingStreet?.invalid && (shippingStreet?.dirty || shippingStreet?.touched)" class="alert alert-danger mt-1">
                                    <div *ngIf="shippingStreet?.hasError('required')">
                                        Shipping Street is required
                                    </div>
                                    <div *ngIf="shippingStreet?.hasError('minlength') || shippingStreet?.hasError('onlyWhitespaces')">
                                        Shipping Stree must be at least 3 characters long
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3"><label>Zip Code</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="zipCode" type="text">

                                <div *ngIf="shippingZipCode?.invalid && (shippingZipCode?.dirty || shippingZipCode?.touched)" class="alert alert-danger mt-1">
                                    <div *ngIf="shippingZipCode?.hasError('required')">
                                        Shipping Zip Code is required
                                    </div>
                                    <div *ngIf="shippingZipCode?.hasError('minlength') || shippingZipCode?.hasError('onlyWhitespaces')">
                                        Shipping Zip Code must be at least 3 characters long
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ends shipping address form group-->

                <!-- checkbox to copy shipping address to billing address-->
                <div class="row">
                    <div class="col-md-9">
                        <div class="input-space">
                            <label class="au-checkbox">
                                <input id="copyShippingAddress" type="checkbox" (change)="copyShippingAddressToBillingAddress($event)" style="display: checkbox;">
                                <span class="au-checkmark">Billing Address same as Shipping Address</span>
                            </label>
                        </div>
                    </div>
                </div>
                <!-- ends checkbox block-->


                <!-- billing address form group -->
                <div formGroupName="billingAddress" class="form-area">
                    <h3>Billing Address</h3>

                    <div class="row">
                        <div class="col-md-3"><label>Country</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="country" (change)="getStates('billingAddress')">
                                    <option *ngFor="let country of countriesList" [ngValue]="country">
                                        {{ country.name }}
                                    </option>
                                </select>

                                <div *ngIf="billingCountry?.invalid && (billingCountry?.dirty || billingCountry?.touched)" class="alert alert-danger mt-1">
                                    <div *ngIf="billingCountry?.hasError('required')">
                                         Billing Country Code is required
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3"><label>State</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="state">
                                    <option *ngFor="let state of billingAddressStates" [ngValue]="state">
                                        {{ state.name }}
                                    </option>
                                </select>

                                <div *ngIf="billingState?.invalid && (billingState?.dirty || billingState?.touched)" class="alert alert-danger mt-1">
                                    <div *ngIf="billingState?.hasError('required')">
                                         Billing State Code is required
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3"><label>City</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="city" type="text">

                                <div *ngIf="billingCity?.invalid && (billingCity?.dirty || billingCity?.touched)" class="alert alert-danger mt-1">
                                    <div *ngIf="billingCity?.hasError('required')">
                                        Billing City is required
                                    </div>
                                    <div *ngIf="billingCity?.hasError('minlength') || billingCity?.hasError('onlyWhitespaces')">
                                        Billing City must be at least 3 characters long
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3"><label>Street</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="street" type="text">

                                <div *ngIf="billingStreet?.invalid && (billingStreet?.dirty || billingStreet?.touched)" class="alert alert-danger mt-1">
                                    <div *ngIf="billingStreet?.hasError('required')">
                                        Billing Street is required
                                    </div>
                                    <div *ngIf="billingStreet?.hasError('minlength') || billingStreet?.hasError('onlyWhitespaces')">
                                        Billing Street must be at least 3 characters long
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3"><label>Zip Code</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="zipCode" type="text">

                                <div *ngIf="billingZipCode?.invalid && (billingZipCode?.dirty || billingZipCode?.touched)" class="alert alert-danger mt-1">
                                    <div *ngIf="billingZipCode?.hasError('required')">
                                        Billing Zip Code is required
                                    </div>
                                    <div *ngIf="billingZipCode?.hasError('minlength') || billingZipCode?.hasError('onlyWhitespaces')">
                                        Billing Zip Code must be at least 3 characters long
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ends billing address form group-->


                <!-- credit form group -->
                <div formGroupName="creditCard" class="form-area">
                    <h3>Credit Card</h3>

                    <div class="row">
                        <div class="col-md-3"><label>Card Type</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="cardType">
                                    <option>Visa</option>
                                    <option>Mastercard</option>
                                </select>

                                <div *ngIf="creditCardType?.invalid && (creditCardType?.dirty || creditCardType?.touched)" class="alert alert-danger mt-1">
                                    <div *ngIf="creditCardType?.hasError('required')">
                                        Card Type is required
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3"><label>Name on Card</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="cardName" type="text">

                                <div *ngIf="creditCardName?.invalid && (creditCardName?.dirty || creditCardName?.touched)" class="alert alert-danger mt-1">
                                    <div *ngIf="creditCardName?.hasError('required')">
                                        Name is required
                                    </div>
                                    <div *ngIf="creditCardName?.hasError('minlength') || creditCardName?.hasError('onlyWhitespaces')">
                                        Name must be at least 3 characters long
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3"><label>Card Number</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="cardNumber" type="text">

                                <div *ngIf="creditCardNumber?.invalid && (creditCardNumber?.dirty || creditCardNumber?.touched)" class="alert alert-danger mt-1">
                                    <div *ngIf="creditCardNumber?.hasError('required')">
                                        Card Number is required
                                    </div>
                                    <div *ngIf="creditCardNumber?.hasError('pattern')">
                                        Card Number must be 16 digits long
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3"><label>Security Code</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="securityCode" type="text">

                                <div *ngIf="creditCardSecurityCode?.invalid && (creditCardSecurityCode?.dirty || creditCardSecurityCode?.touched)" class="alert alert-danger mt-1">
                                    <div *ngIf="creditCardSecurityCode?.hasError('required')">
                                        Security Code is required
                                    </div>
                                    <div *ngIf="creditCardSecurityCode?.hasError('pattern')">
                                        Security Code must be 3 digits long
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3"><label>Expiration Month</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="expirationMonth">
                                    <option *ngFor="let month of creditCardMonths">{{ month }}</option>
                                </select>

                                <div *ngIf="creditCardExpirationMonth?.invalid && (creditCardExpirationMonth?.dirty || creditCardExpirationMonth?.touched)" class="alert alert-danger mt-1">
                                    <div *ngIf="creditCardExpirationMonth?.hasError('required')">
                                        Expiration Month is required
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3"><label>Expiration Year</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="expirationYear" (change)="handleMonthsAndYears()">
                                    <option *ngFor="let year of creditCardYears">{{ year }}</option>
                                </select>

                                <div *ngIf="creditCardExpirationYear?.invalid && (creditCardExpirationYear?.dirty || creditCardExpirationYear?.touched)" class="alert alert-danger mt-1">
                                    <div *ngIf="creditCardExpirationYear?.hasError('required')">
                                        Expiration Year is required
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ends credit card form group-->

                <!-- Oder details-->
                <div class="form-area">
                    <h3>Review Your Order:</h3>

                    <p>Total Quantity: {{ totalQuantity }}</p>
                    <p>Shipping: FREE</p>
                    <p>Total Price: {{ totalPrice | currency:'MAD'}}</p>
                </div>
                <!-- Ends order details -->


                <!-- Submit Button-->
                <div class="text-center">
                    <button type="submit" class="btn btn-info">Purchase</button>
                </div>
            </form>

        </div>
    </div>
</div>